{{ func PageBegin(ctx *RenderContext) }}
<!DOCTYPE html>
<html lang="en">
{[ Head(ctx) ]}
<body>
{{ endfunc }}

{{ func PageEnd(ctx *RenderContext) }}
</body>
</html>
{{ endfunc }}

{{ func Head(ctx *RenderContext) }}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{[ ctx.pageTitle ]}</title>
    <link rel="stylesheet" href="{[ ctx.externalURL ]}/css/main.css">
</head>
{{ endfunc }}

{{ func Navbar(ctx *RenderContext) }}
<div class="pt"></div>
<nav class="top-nav">
    <h1 class="name">BurntPocket</h1>
</nav>
{{ endfunc }}