{{ func LoginSpringboard(ctx *RenderContext, redirectURL) }}

    {{ code }}
    ctx.pageTitle = "Welcome to BurntPocket"
    {{ endcode }}

    {[ PageBegin(ctx) ]}
    {[ Navbar(ctx) ]}

    <div class="container">
        <h3>Redirecting to authentication provider...</h3>
        <p>If nothing happens, click <a href="{[ redirectURL ]}">here</a>.</p>
    </div>

    <script>
        setTimeout(function () {
            window.location.href = "{[ redirectURL ]}";
        }, 500);
    </script>

    {[ PageEnd(ctx) ]}

{{ endfunc }}