$background-colour: #f6f4f2;
$font-colour: #2b161c;
$accent-colour: #df3062;
$translucent-accent-colour: rgba(223, 98, 102, 0.2);
$secondary: rgba(43, 22, 28, 0.5) ;

$breakpoint-sm-max: 600px;
$breakpoint-md-min: 600px;
$breakpoint-lg-min: 960px;
$breakpoint-lg-max: 959px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: $font-colour;
  background-color: $background-colour;
}

.secondary {
  font-style: italic;
  color: $secondary;
}

a {
  &:link, &:visited {
    color: $accent-colour;
    text-decoration-style: solid;
  }

  &:hover {
    color: $accent-colour;
    filter: brightness(0.8);
  }
}

form {
  display: table;

  div {
    display: table-row;
  }

  label, input {
    display: table-cell;
    margin-bottom: 10px;
  }

  label {
    padding-right: 10px;
  }
}

@mixin container {
  @media only screen and (max-width: $breakpoint-sm-max) {
    margin-left: 2%;
    margin-right: 2%;
  }

  @media only screen and (min-width: $breakpoint-md-min) {
    margin-left: 10%;
    margin-right: 10%;
  }

  @media only screen and (min-width: $breakpoint-lg-min) {
    margin-left: 25%;
    margin-right: 25%;
  }
}

@mixin card() {
  padding: 15px 10px 15px 10px;
  border: solid $accent-colour;
  border-width: 1px 3px 3px 1px;
}

.container {
  @include container();
}

.pt {
  padding-top: 15px;
}

.pt-large {
  padding-top: 50px;
}

nav.top-nav {
  $navbar-height: 55px;

  @include container();
  @include card();

  height: $navbar-height;
  background: white;

  display: flex;
  align-items: center;

  :first-child {
    flex: 1 1 0;
  }

  h1.name {
    font-size: $navbar-height - calc($navbar-height * 0.4);
    padding: 0;
  }
}