$background-colour: #f6f4f2;
$font-colour: #2b161c;
$accent-colour: #df3062;
$weak-accent-colour: #f2d6d6;
$secondary: rgba(43, 22, 28, 0.5);

$breakpoint-sm-max: 600px;
$breakpoint-md-min: 600px;
$breakpoint-lg-min: 960px;
$breakpoint-lg-max: 959px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: $font-colour;
  background-color: $background-colour;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.secondary {
  font-style: italic;
  color: $secondary;
}

a {
  &:link, &:visited {
    color: $accent-colour;
    text-decoration-style: solid;
  }

  &:hover {
    color: $accent-colour;
    filter: brightness(0.8);
  }
}

form {
  display: table;

  div {
    display: table-row;
  }

  label, input {
    display: table-cell;
    margin-bottom: 10px;
  }

  label {
    padding-right: 10px;
  }
}

@mixin container {
  @media only screen and (max-width: $breakpoint-sm-max) {
    margin-left: 2%;
    margin-right: 2%;
  }

  @media only screen and (min-width: $breakpoint-md-min) {
    margin-left: 10%;
    margin-right: 10%;
  }

  @media only screen and (min-width: $breakpoint-lg-min) {
    margin-left: 25%;
    margin-right: 25%;
  }
}

@mixin box-padding() {
  padding: 15px 20px;
}

$border-thin: 1px;
$border-thick: 3px;

@mixin card() {
  border: $border-thin solid $accent-colour;
  box-shadow: $border-thick $border-thick 0 $accent-colour;
  background: white;
}

.card {
  @include card();
  @include box-padding();

  &.full-width {
    width: 100%;
  }
}

.container {
  @include container();
}

.pt {
  padding-top: 15px;
}

.pt-large {
  padding-top: 50px;
}

nav.top-nav {
  $navbar-height: 55px;

  @include container();
  @include card();
  @include box-padding();

  height: $navbar-height;

  display: flex;
  align-items: center;

  :first-child {
    flex: 1 1 0;
  }

  h1.name {
    font-size: $navbar-height - calc($navbar-height * 0.4);
    padding: 0;
  }
}

div.tabs {

  .tab-list {
    display: flex;

    & > a {
      @include card();
      margin-left: 0;
      padding: 7px 8px;

      cursor: pointer;

      &.selected {
        background-color: $weak-accent-colour;
        color: $accent-colour;
      }

      &:not(:last-child) {
        border-right: 0;

        &:hover {
          box-shadow: unset;
        }
      }
    }
  }

  .tab-content {
    @include card();
    @include box-padding();

    position: relative;
    top: -$border-thick;
  }
}

table > tbody > tr:hover {

}

table.table {
  &.full-width {
    width: 100%;
  }

  tr {
    padding: 2px;

    &:hover {
      background-color: $weak-accent-colour;
    }
  }
}

.problem {
  color: red;
}

.message {
  font-style: italic;
}