{{ import "fmt" }}
{{ import "path/filepath" }}
{{ import "github.com/codemicro/abigit/abigit/core" }}
{{ import "github.com/codemicro/abigit/abigit/urls" }}
{{ import "github.com/go-git/go-git/v5/plumbing" }}

{{ code }}
type ViewRepositoryProps struct {
    Repo *core.RepoOnDisk
    IsEmpty bool
}
{{ endcode }}

{{ func ViewRepository(ctx *RenderContext, props *ViewRepositoryProps) }}

    {{ code }}
        ctx.pageTitle = props.Repo.Slug + " | " + ctx.platformName
    {{ endcode }}

    {[ PageBegin(ctx) ]}
    {[ Navbar(ctx) ]}

    <div class="container">
        <h1>{[ props.Repo.Slug ]}</h1>
        <p class="secondary">{[ props.Repo.Description ]}</p>
        <p>Size on disk: <span hx-get="{[ urls.Make(urls.RepositorySizeOnDisk, props.Repo.Slug) ]}"
                               hx-trigger="load">loading...</span></p>

        <div id="tabs" class="tabs"
             hx-get="{[ urls.Make(urls.RepositoryTabs, props.Repo.Slug) ]}"
             hx-trigger="load"
             hx-target="#tabs"
             hx-swap="innerHTML"
        ></div>
    </div>

    {[ PageEnd(ctx) ]}

{{ endfunc }}

{{ code }}
    const (
        TabSelectorReadme = 1 << iota
        TabSelectorShowTree
        TabSelectorShowRefs
        TabSelectorClone
        TabSelectorCommits
    )

    type RepositoryTabProps struct {
        Repo *core.RepoOnDisk
        CurrentTab int

        Readme struct {
            Content string
        }

        Clone struct {
            SSHUser string
            SSHHost string
            SSHStoragePath string
        }

        Refs struct {
            Branches []*plumbing.Reference
            Tags []*plumbing.Reference
        }
    }
{{ endcode }}

{{ func RepositoryTabs(ctx *RenderContext, props *RepositoryTabProps) }}

    <div class="tab-list">

        <a hx-get="{[ urls.Make(urls.RepositoryTabReadme, props.Repo.Slug) ]}"
            {{ if props.CurrentTab == TabSelectorReadme }}
                 class="selected"
            {{ endif }}
        >README</a>

        <a hx-get="{[ urls.Make(urls.RepositoryTabTree, props.Repo.Slug) ]}"
            {{ if props.CurrentTab == TabSelectorShowTree }}
                class="selected"
            {{ endif }}
        >Tree</a>

        <a hx-get="{[ urls.Make(urls.RepositoryTabRefs, props.Repo.Slug) ]}"
            {{ if props.CurrentTab == TabSelectorShowRefs }}
                class="selected"
            {{ endif }}
        >Refs</a>

        <a hx-get="{[ urls.Make(urls.RepositoryTabCommits, props.Repo.Slug) ]}"
            {{ if props.CurrentTab == TabSelectorCommits }}
                class="selected"
            {{ endif }}
        >Commits</a>

        <a hx-get="{[ urls.Make(urls.RepositoryTabClone, props.Repo.Slug) ]}"
            {{ if props.CurrentTab == TabSelectorClone }}
                class="selected"
            {{ endif }}
        >Clone</a>

    </div>

    <div class="tab-content">
        {{ if props.CurrentTab == TabSelectorReadme }}
            {[ repositoryTabReadme(ctx, props) ]}
        {{ elif props.CurrentTab == TabSelectorShowTree }}
            {[ repositoryTabTree(ctx, props) ]}
        {{ elif props.CurrentTab == TabSelectorShowRefs }}
            {[ repositoryTabRefs(ctx, props) ]}
        {{ elif props.CurrentTab == TabSelectorClone }}
            {[ repositoryTabClone(ctx, props) ]}
        {{ elif props.CurrentTab == TabSelectorCommits }}
            {[ repositoryTabCommits(ctx, props) ]}
        {{ endif }}
    </div>

{{ endfunc }}

{{ func repositoryTabReadme(ctx *RenderContext, props *RepositoryTabProps) }}
    <div class="readme-content">{[ props.Readme.Content #unsafe ]}</div>
{{ endfunc }}

{{ func repositoryTabTree(ctx *RenderContext, props *RepositoryTabProps) }}
    <p>TODO: tree here</p>
{{ endfunc }}

{{ func repositoryTabRefs(ctx *RenderContext, props *RepositoryTabProps) }}
    <table class="table full-width">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Commit hash</th>
            </tr>
        </thead>
        <tbody>
            {{ for _, branch := range props.Refs.Branches }}
                <tr><td>{[ branch.Name().Short() ]}</td><td>Branch</td><td>{[ branch.Hash().String() ]}</td></tr>
            {{ endfor }}
            {{ for _, tag := range props.Refs.Tags }}
                <tr><td>{[ tag.Name().Short() ]}</td><td>Tag</td><td>{[ tag.Hash().String() ]}</td></tr>
            {{ endfor }}
        </tbody>
    </table>
{{ endfunc }}

{{ func repositoryTabClone(ctx *RenderContext, props *RepositoryTabProps) }}
    <p>Clone with:</p>
    <ul>
        <li>SSH (read/write): {[ fmt.Sprintf("%s@%s:%s", props.Clone.SSHUser, props.Clone.SSHHost, filepath.Join(props.Clone.SSHStoragePath, props.Repo.Slug)) ]}</li>
        <li>HTTP (read-only): {[ urls.Make(urls.ServeRepositoryByName, props.Repo.Slug + ".git") ]}</li>
    </ul>

    <p>// TODO: Remember about securing private repositories.</p>
{{ endfunc }}

{{ func repositoryTabCommits(ctx *RenderContext, props *RepositoryTabProps) }}
    <p>TODO: Commits here</p>
{{ endfunc }}